*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  background-color: #f5f7fa;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/***********************
//    header Section   * 
//**********************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 7.6rem;
  border-bottom: solid 2px #ddd;
  /* padding: 1.4rem 0 0; */
  padding: 2rem 6.4rem 2rem 6.4rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.3rem;
}

.main-nav-link {
  text-decoration: none;
  color: #9fa3ad;
  font-size: 1.4rem;
  font-weight: 600;
}
.home {
  color: #000;
}

.account {
  border-radius: 10rem;
  border: solid 1px #2a3143;
  padding: 0.8rem 1.5rem 0.8rem 1.6rem;
  color: #000;
  display: flex;
  align-items: center;
}
.account i {
  transform: translate(-10%, 5%);
}

.prices {
  display: flex;
  align-items: center;
  padding: 0.8rem 2rem 0.8rem 2rem;
  border-radius: 10rem;
  background-image: linear-gradient(281deg, #fd485a 95%, #fd6a79 7%);
  color: #fff;
}

.prices i {
  transform: translate(-30%, 8%);
}

/************************
//    Hero Section      *  
//**********************/

.section-hero {
  margin-bottom: 5rem;
}
.hero {
  background-color: #fff;
  padding: 3.8rem 18.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 9.6rem;
}
.hero-text-box {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 16rem;
  grid-template-rows: 6rem 5rem 1fr 1fr;
}
h1 {
  font-size: 3rem;
  font-family: "Lato";
  color: #2a3143;
}

.hero-description {
  color: #6c6f75;
  font-size: 1.8rem;
  line-height: 1.56;
  font-weight: 600;
}

.get-hired {
  color: #ff8e41;
}

.hero-info-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}
.hero-info-number {
  font-weight: bold;
  font-size: 1.8rem;
  margin-left: 0.5rem;
  font-weight: 600;
}
.hero-info {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.hero-bullet {
  border-radius: 50%;
  background-color: #ff8e41;
  padding: 0.5rem;
}

.hero-download-app {
  display: flex;
  gap: 2rem;
}

.hero-app a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a3143;
  border: none;
  color: #fff;
  text-decoration: none;
  border-radius: 0.6rem;
  padding: 1rem 1.6rem 1rem 1.6rem;
  gap: 1rem;
}
.app-icon {
  align-self: flex-end;
}

.app-text {
  line-height: 1.5;
  font-family: "Montserrat";
}

.app-text p:nth-child(1) {
  font-size: 1.4rem;
  padding-bottom: 0.3rem;
}

.app-text p:nth-child(2) {
  font-weight: 500;
  font-size: 1.8rem;
}

.play-store a {
  background-color: #ff8e41;
}

main section {
  margin: 0 auto;
}
.container {
  width: 73rem;
  height: 19rem;
  background-color: #fff;
  border-radius: 0.6rem;
  box-shadow: 0 3px 10px 0 rgba(220, 232, 250, 0.4);
  position: relative;
  margin: 0 auto;
  margin-bottom: 10rem;
}
.container h2 {
  padding: 3rem;
  text-align: center;
  font-size: 1.8rem;
}
/****************************
//    Dropdown Section      * 
//***************************/
.container .btn-arrow {
  cursor: pointer;
  background-image: linear-gradient(317deg, #fd485a 91%, #fd6a79 10%);
  border-radius: 1.2rem;
  margin-left: auto;
  color: #fff;
  width: 3.3rem;
  padding: 2rem;
}

ion-icon.chevron-down {
  position: absolute;
  right: 1.9rem;
  color: #fff;
  cursor: pointer;
}

.container-select {
  width: 35rem;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  border: 1px solid #2a3143;
  background-color: #fff;
  border-radius: 1.2rem;
}
.select-wrap {
  padding: 0.8rem;
  list-style: none;
  position: relative;
}

.programming-languages {
  width: 35rem;
  border-radius: 1.2rem;
  box-shadow: 0 0.3rem 1rem 0 rgba(220, 232, 250, 0.4);
  background-color: #fff;
  position: absolute;
  transform: translate(-2.5%, 10%);
  overflow: hidden;
  display: none;
}
.programming-languages li:nth-child(1) {
  background-color: #edeff2;
}
.programming-languages li {
  margin-bottom: 1rem;
  padding: 1.2rem;
  cursor: pointer;
}

.default-option .option {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.language {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  color: #6c6f75;
}

.programming-languages li:hover {
  background-color: #edeff2;
}

.numberOfQuestions {
  margin-left: auto;
  background-color: #f5f7fa;
  border-radius: 50%;
  text-align: center;
  padding: 0.7rem 1rem 0.7rem 1rem;
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 700;
  color: #2a3143;
}

/***********************
//    Filter Section   * 
//**********************/

.filter-questions {
  width: 111rem;
  background-color: #fff;
  box-shadow: 0 0.3rem 1rem 0 rgba(220, 232, 250, 0.4);
  border-radius: 1.2rem;
  padding: 2.5rem;
  font-family: "Montserrat";
  margin-bottom: 3.2rem;
}

.filter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 2.8rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #fd5767;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fd5767;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.code-challenge {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.code-challenge span {
  padding-left: 2rem;
  color: #6c6f75;
  font-weight: 700;
  font-size: 1.4rem;
}

.search-question {
  position: relative;
}

.search-question input {
  width: 33rem;
  border-radius: 1rem;
  border: 1px solid #ddd;
  padding: 0.8rem 0.8rem 0.8rem 1.8rem;
  color: #6c6f75;
  font-size: 1.4rem;
  font-weight: 700;
}
.btn-search {
  position: absolute;
  cursor: pointer;
  border-radius: 1.2rem;
  width: 2.5rem;
  padding: 1.2rem;
  border-radius: 0.8rem;
  background-color: #ff8e41;
  right: 2%;
  top: 14%;
}

.search-outline {
  position: absolute;
  right: 1rem;
  color: #fff;
  cursor: pointer;
  top: 0.7rem;
}

.download-pdf {
  display: flex;
  justify-content: center;
  align-items: center;
}
.download-pdf p {
  padding-left: 0.5rem;
  color: #6c6f75;
  font-weight: 700;
  font-size: 1.4rem;
}

/***********************
//    Question Section   * 
//**********************/

.question-answer {
  width: 111rem;
}
.question {
  background-color: #fff;
  font-family: "Montserrat";
  border-radius: 1.2rem;
  margin-bottom: 3.2rem;
}

.question-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 3px 10px 0 rgba(220, 232, 250, 0.4);
}

.question-number {
  width: 5.6rem;
  background-image: linear-gradient(313deg, #fd485a 95%, #fd6a79 5%);
  padding: 1.2rem;
  font-size: 2.2rem;
  color: #fff;
  border-radius: 1.2rem 0 0 1.2rem;
}
.number-text {
  display: flex;
  align-items: center;
}
.question-number p {
  text-align: center;
}
.question-text {
  color: #6c6f75;
  font-size: 1.6rem;
  padding: 0 0 0 4rem;
  font-weight: 600;
}
.level-arrow {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 2rem;
}

.question-level {
  border-radius: 10rem;
  font-size: 1.2rem;
  font-weight: 700;
  width: 6rem;
  padding: 4px 9px 4px 8px;
  display: flex;
  justify-content: center;
}

.entry .question-level {
  background-color: #fdf0f2;
}
.entry .question-level p {
  color: #fd485a;
}

.junior .question-level {
  background-color: #fff7f2;
}
.junior .question-level p {
  color: #ff8e41;
}

.mid .question-level {
  background-color: #eeece8;
}
.mid .question-level p {
  color: #8a650d;
}

.senior .question-level {
  background-color: #f2f4ff;
}
.senior .question-level p {
  color: #636ec2;
}

.expert .question-level {
  padding: 0.4rem 1.3rem 0.4rem 1rem;
  background-color: #f2f9ff;
}
.expert .question-level p {
  color: #0061b2;
}

.question-arrow {
  color: #6c6f75;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-left: 1.3rem;
}

/************************
//    Answer Section    * 
//**********************/
.expert {
  margin-bottom: 0;
  border-radius: 1.2rem 1.2rem 0 0;
}
.expert .question-number {
  border-radius: 1.2rem 0 0 0;
}
.answer {
  background-color: #fff;
  font-family: "Montserrat";
  border-radius: 0 0 1.2rem 1.2rem;
  margin-bottom: 3.2rem;
  box-shadow: 0 3px 10px 0 rgba(220, 232, 250, 0.4);
}
.answer-container {
  display: grid;
  grid-template-rows: 8rem 1fr 6rem;
}

.answer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.7rem;
}
.answer-bullet {
  background-color: #ff8e41;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}
.answer-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  font-family: "Lato";
  color: #707070;
  font-size: 2rem;
  font-weight: bold;
}

.answer-social-icon ion-icon {
  margin-left: 1rem;
  font-size: 1.8rem;
  color: #0077b7;
}

.answer-social-icon ion-icon:nth-child(2) {
  color: #03a9f4;
}
.answer-social-icon ion-icon:nth-child(3) {
  color: #55cd6c;
}
.answer-social-icon ion-icon:last-child {
  color: #000;
}
.answer-mark-as-read {
  color: #1fb86e;
  border: 1px solid;
  padding: 4px 8px;
  border-radius: 10rem;
  font-size: 1.4rem;
}
.answer-text {
  color: #707070;
  line-height: 1.8;
  padding: 1rem 4rem 1.5rem 4rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.answer-like-comment {
  border-top: solid 1.8px #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.answer-like-comment div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
}
.like-icon {
  stroke: #9fa3ad;
  stroke-width: 2;
}
.likes-number {
  font-size: 1.4rem;
  font-weight: 600;
  color: #9fa3ad;
}

/**********************************
//    Last Blog Post Section      * 
//*********************************/

/************************
//    Footer Section    * 
//**********************/

.footer {
  box-shadow: 0 -3px 10px 0 rgba(220, 232, 250, 0.4);
  background-color: #fff;
  padding: 64px 242px 64px 165px;
  margin-top: 6.4rem;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
form {
  position: relative;
}
.subscribe-email {
  padding: 1.2rem 5rem 1.2rem 5rem;
  border-radius: 10rem;
  border: solid 1px #ddd;
  width: 35rem;
}

.btn-subscribe {
  position: absolute;
  top: 50%;
  right: 17%;
  transform: translate(50%, -18%);
  padding: 0.6rem 1.6rem;
  border-radius: 10rem;
  background-image: linear-gradient(288deg, #fd485a 89%, #fd6a79 11%);
  text-decoration: none;
  color: #fff;
}
