*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  background-color: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.container {
  width: 73rem;
  height: 19rem;
  background-color: #fff;
  border-radius: 0.6rem;
  box-shadow: 0 1rem 1rem 0 rgba(220, 232, 250, 0.4);
  position: relative;
}
.container h2 {
  padding: 3rem;
  text-align: center;
  font-size: 1.8rem;
}
.container .btn-arrow {
  cursor: pointer;
  background-image: linear-gradient(317deg, #fd485a 91%, #fd6a79 10%);
  border-radius: 1.2rem;
  margin-left: auto;
  color: #fff;
  width: 3.3rem;
  padding: 2rem;
}

ion-icon {
  visibility: hidden;
  position: absolute;
  right: 2.2rem;
  color: #fff;
}

.container-select {
  width: 35rem;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  border: 1px solid #2a3143;
  background-color: #fff;
  border-radius: 1.2rem;
}
.select-wrap {
  padding: 1.2rem;
  list-style: none;
  position: relative;
}

.programming-languages {
  width: 35rem;
  margin: 10rem;
  border-radius: 1.2rem;
  box-shadow: 0 0.3rem 1rem 0 rgba(220, 232, 250, 0.4);
  background-color: #fff;
  position: absolute;
  transform: translate(-32%, -20%);
  overflow: hidden;
  font-weight: 700;
  color: #6c6f75;
}
.programming-languages li:nth-child(1) {
  background-color: #edeff2;
}
.programming-languages li {
  margin-bottom: 1rem;
  padding: 1.2rem;
  cursor: pointer;
}

.default-option .option {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.language {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.programming-languages li:hover {
  background-color: #edeff2;
}

.numberOfQuestions {
  margin-left: auto;
  background-color: #f5f7fa;
  border-radius: 50%;
  text-align: center;
  padding: 0.7rem 1rem 0.7rem 1rem;
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 700;
  color: #2a3143;
}
